{% extends "LifeOfReillyJohnApp/base.html" %}
{% load staticfiles %}
{% block content %}


<script>
	$(document).ready(function() {
		$('.nav-item > a:contains("Log In")').addClass('active');
	});
</script>


<div class="container">
	<div class="row">
		<div class="offset-md-1">
			{% if error %}
			<div class="container ">
				<div class="alert " role="alert">
					<h4 class="alert-heading">Failed To Sign In, Ensure You Are Using Correct Username & Password</h4>
				</div>
			</div>
			{% endif %}
			
			<form  method="post">
			{% csrf_token %}
			{% for field in form %}
		    <div class="fieldWrapper">
		        {{ field.errors }}
		        {{ field.label_tag }}<br> {{ field }}
			    {% for error in field.errors %}
		          <p style="color: red">{{ error }}</p>
		        {% endfor %}
		        {% if field.help_text %}
		        <p class="help">{{ field.help_text|safe }}</p>
		        {% endif %}
			    
		    </div>
		{% endfor %}
			<br><button type="submit" class="btn btn-outline-success">Log In</button><br>
			<p></p>
			</form>
		</div>
	</div>
</div>


{% endblock %}