{% extends "LifeOfReillyJohnApp/base.html" %}
{% load staticfiles %}




{% block content %}
{% if choice %}
<h1>{{ choice }}</h1>
{% endif %}

<div class="container">
	<div class="row">
			<div class="col-md offset-md-1">
				<form method="post" action="{% url 'LifeOfReillyJohnApp:Pokemon' %}" >
					{% for field in PokemonDataBaseSearch %}
						{% csrf_token %}
						{{ field }}
					{% endfor %}
					<button type="submit" id="SearchPokemon" class="btn btn-success">Search</button>
					<button type="submit" id="Clear" class="btn btn-success">Clear</button>

				</form>
			</div>
	</div>
</div>

<div class="container"><br>
	{% if error %}
	<h3> No Results Found For That Search</h3>
	{% endif %}
</div><br>

<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="row">Pokedex Number</th>
		<td>Name</td>
		<td>Type1 </td>
		<td>Type2 </td>
		<td>HP </td>
		<td>Attack </td>
		<td>Defence </td>
		<td>SPAttack </td>
		<td>SPDefence </td>
		<td>Speed </td>
		<td>Generation </td>
		<td>Legendary </td>
    </tr>
  <tbody>
	</thead>
	{% for Pokemon in PokemonList %}
	<tr>
	    <th scope="row">{{ Pokemon.Poke_Number }}</th>
	    <td>{{ Pokemon.Name }}</td>
	    <td>{{ Pokemon.Type1 }}</td>
	    <td>{{ Pokemon.Type2 }}</td>
	    <td>{{ Pokemon.HP }}</td>
	    <td>{{ Pokemon.Attack }}</td>
	    <td>{{ Pokemon.Defence }}</td>
	    <td>{{ Pokemon.SPAttack }}</td>
	    <td>{{ Pokemon.SPDefence }}</td>
	    <td>{{ Pokemon.Speed }}</td>
	    <td>{{ Pokemon.Generation }}</td>
	    <td>{{ Pokemon.Legendary }}</td>
    </tr>
	{% endfor %}
  </tbody>
</table>
	   </div>
{% endblock %}
