{% extends "LifeOfReillyJohnApp/base.html" %}
{% load staticfiles %}




{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md offset-md-1">
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
			  Database Update - Operators Now Available
			</button>
			
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Update - Operators</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
				      <p>You can now use the following operators on number columns i.e. Pokedex Number,HP,Attack,Defence....</p>
				      <p>Operators:<br>= (equal)<br>> (greater than)<br>< (less than)<br>=> (greater than or equal to)<br>=< (less than or equal to)</p>
				      <p>Example:<br>"=<5" for a search on Pokedex Number will give you all the following pokemon<br>Bulbasaur, Ivysaur, Venusaur, Charmander, Charmeleon</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	
	<div class="row">
			<div class="col-md offset-md-1">
				<form method="post" action="{% url 'LifeOfReillyJohnApp:Pokemon' %}" >
					{% for field in PokemonDataBaseSearch %}
						{% csrf_token %}
						{{ field }}
					{% endfor %}
					<button type="submit" id="SearchPokemon" class="btn btn-success">Search</button>
					<button type="submit" id="Clear" class="btn btn-success">Clear</button>

				</form>
			</div>
	</div>
</div>

<div class="container"><br>
	{% if error %}
	<h3> No Results Found For That Search</h3><br>
	<p>Ensure your input is correct for the category selected.</p>
	{% endif %}
	{% if results %}
	<h3>results</h3>
	{% endif %}
</div><br>

<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="row">Pokedex Number</th>
		<td>Name</td>
		<td>Type1 </td>
		<td>Type2 </td>
		<td>HP </td>
		<td>Attack </td>
		<td>Defence </td>
		<td>SPAttack </td>
		<td>SPDefence </td>
		<td>Speed </td>
		<td>Generation </td>
		<td>Legendary </td>
    </tr>
  <tbody>
	</thead>
	{% for Pokemon in PokemonList %}
	<tr>
	    <th scope="row">{{ Pokemon.Poke_Number }}</th>
	    <td>{{ Pokemon.Name }}</td>
	    <td>{{ Pokemon.Type1 }}</td>
	    <td>{{ Pokemon.Type2 }}</td>
	    <td>{{ Pokemon.HP }}</td>
	    <td>{{ Pokemon.Attack }}</td>
	    <td>{{ Pokemon.Defence }}</td>
	    <td>{{ Pokemon.SPAttack }}</td>
	    <td>{{ Pokemon.SPDefence }}</td>
	    <td>{{ Pokemon.Speed }}</td>
	    <td>{{ Pokemon.Generation }}</td>
	    <td>{{ Pokemon.Legendary }}</td>
    </tr>
	{% endfor %}
  </tbody>
</table>
	   </div>
{% endblock %}
