{% extends "LifeOfReillyJohnApp/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1 class="">Reset Password</h1><br><br>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}