{% load staticfiles %}


<head>
	
	<meta charset="utf-8">
	<title>Life Of Reilly John </title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href= "{% static 'LifeOfReillyJohnApp/images/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href= "{% static 'LifeOfReillyJohnApp/images/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href= "{% static 'LifeOfReillyJohnApp/images/favicon-16x16.png' %}" >
	<link rel="manifest" href= "{% static 'LifeOfReillyJohnApp/images/site.webmanifest">
	
	<link rel="stylesheet" href="{% static 'LifeOfReillyJohnApp/css/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Special+Elite" rel="stylesheet">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

	
</head>