{% load staticfiles %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.js" integrity="sha256-xp3mHur7sqosKiJ81IZiZ0SyjjeMt0H0evjXzEzlwBI=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!-- Optional JavaScript -->
<script src="{% static 'LifeOfReillyJohnApp/js/script.js' %}"></script>




